@import "tailwindcss";
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
  font-family: Arial, sans-serif;
}
h1{
  text-align: center;
  font-family: Arial, sans-serif;
}