@import "tailwindcss";
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
  font-family: Arial, sans-serif;
}
h1{
  text-align: center;
  font-family: Arial, sans-serif;
}
.captured-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.captured {
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
}

.white {
  background: lightgray;
  padding: 10px;
}

.black {
  background: darkgray;
  color: white;
  padding: 10px;
}